*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

.hd{
	width: 100%;
	overflow: hidden;
	background-color: black;
}

.logo{
	display: inline-block;
  	vertical-align: middle;
	width: 80px;

}

.al {
	float: right;
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 12px;
	margin-top: 2.5%;
	font-size: 20px;
	border-radius: 3px;
	line-height: 25px;
}

header a:hover {
  background-color: #E2D335;
  color: black;
}

@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  header-right {
    float: none;
  }
}

.fo{
	width: 100%;
	height: 173px;
	overflow: auto;
	background-color: #F4E336;
}

.caja {
  float: center;
  width: 25%;
  padding: 30px;
}

.so{
	padding-left: 50%;
	padding-right: 50%;
	margin-left: 50%;
	margin-right: 50%;
}
.pr{
	width: 100%;
	background-color: white;
	overflow: hidden;

}
.ds{
	width: 100%;
	height: 20px;
	padding-top: 2.5px;
	background-color: black;
	color: white;
	text-align: center;
}
.nv {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:black;
	position: -webkit-sticky; /* Safari */
	list-style: none;
	top: 0;
  }
  
.nvli {
	float: left;
	list-style-type: none;
}
  
li a {
	display:inline-block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}
  
.active {
	background-color:black;
	font-family: "Latin Modern Roman 10";
	font-style: italic;
	font-size:xx-large;
  }

li ul {
	display:none;
	position:relative;
	min-width:140px;
}

li:hover > ul {
	display:block;
}



.lus
{
	list-style-type: square;
	font-size: 14px;
	font-style: italic;
	color: black;
	list-style-type: disc;
}

div {
	display: block;
  }

form {
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.1);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
}

h4{
	text-align: center;
	margin: 0;
	font-size: 20px;
	margin-bottom: 20px;
}
input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
}
textarea{
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}
#boton{
	background:  #F4E336;
	color: black;
	padding: 10px;
}
#boton:hover{
	cursor: pointer;
}

@media (max-width: 50px){
	form{
		width: 100%;
	}
}
.sociales{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.sociales li{
display: inline-block;
}

.sociales a{
	padding: 20px;
}

.imag{
	width:100%;
	max-width:400px;
}

.tblimg{
	border-bottom: solid 5px #F4E336;
	border-radius: 5px;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.figf{
	margin-left: 50px;
}

.sep{
	margin-left: 50px;
}

.imagi{
	padding: 50px;
	transition: transform .2s; 
	
	margin: 0 auto;
	width:100%;
	max-width:400px;
}
.imagi:hover{
	transform: scale(1.5); 